.App {
  text-align: center;
}

.App-logo {
  height: 4vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #132544;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  background-color: #021533;
  height: 86vh;
  color: white;
  background: linear-gradient(
    to bottom,
    #132554 0%,
    #132554 50%,
    #f3f4f5 50%,
    #f3f4f5 100%
  );
}

main > div > h1 {
  margin: 0px;
}

main > div.card_container {
  display: flex;
  justify-content: space-evenly;
  width: 1096px;
  margin: 0px auto;
}
main > div > .card {
  background-color: white;
  width: 310px;
  height: 342px;
  color: #132554;
  border-radius: 16px;
  position: relative;
}

main > div > .card > div > i {
  color: palevioletred;
  font-size: 62px;;
}

main > div >.card > .button_container {
  position: absolute;
  bottom: 10px;
  margin-bottom: 32px;
  width: 100%;
}

main > div > .card > .button_container > button {
  background-color: #1153A5;
  color: white;
  border-radius: 4px;
  padding: 9px 38px 9px 38px;
  border: none;

}
footer {
  background-color: #010D20;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 480px) {
  main {
    background: initial;
    background-color: green !important;
  }
}